In [1]:
#'in' operator

student_list=["tom","jack","Nick","Sarah"]

In [2]:
'Nick' in student_list

True

In [3]:
"Mark" in student_list

False

In [4]:
word= "encyclopedia"

In [5]:
't' in word

False

In [6]:
'i' in word

True

In [7]:
# + operator
# concats Tuples, lists, and strings

#tuples
test1=(71,123)
test2=(234,54350)

test_concat= test1 + test2
test_concat

(71, 123, 234, 54350)

In [8]:
#lists
country_list1=["USA","UK"]
country_list2=["Australia"]
country_list_concat=country_list1 + country_list2
country_list_concat

['USA', 'UK', 'Australia']

In [10]:
#strings
first_name= "George"
last_name="Washington"
full_name=first_name+ " "+last_name
full_name

'George Washington'

In [11]:
# * operator

age=(1,2,3) *3
age

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
ID=[1,2,344]
ID*3

[1, 2, 344, 1, 2, 344, 1, 2, 344]

In [13]:
name="sai"*3
name

'saisaisai'

In [17]:
# Functions
def my_first_function(name):
    return name

print(my_first_function("jack"))

jack

In [18]:
# returning multiple values

def profile():
    age=21
    height=5.5
    weight=130
    return age, height, weight

age,height,weight=profile()


print(age,height,weight)

21 5.5 130

In [20]:
# enum

# make list
#enum the list
#store in dictionary

store_list=["McDonalds","Wendys", "Burger King"]

list(enumerate(store_list))

[(0, 'McDonalds'), (1, 'Wendys'), (2, 'Burger King')]

In [21]:
for position,name in enumerate(store_list):
    print (name, position)

McDonalds 0
Wendys 1
Burger King 2

In [22]:
store_map= dict((name,position) for position,name in enumerate(store_list))
store_map

{'McDonalds': 0, 'Wendys': 1, 'Burger King': 2}

In [23]:
#sorted

sorted([1,4,2,5,3])

[1, 2, 3, 4, 5]

In [25]:
type(sorted([1,4,2,5,3]))

list

In [24]:
sorted("random string thing")

[' ',
 ' ',
 'a',
 'd',
 'g',
 'g',
 'h',
 'i',
 'i',
 'm',
 'n',
 'n',
 'n',
 'o',
 'r',
 'r',
 's',
 't',
 't']

In [26]:
# reversed

num_list=range(20)

In [27]:
list(reversed(num_list))

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [30]:
subjects=['math','science','english']
subject_count=["one","two","three"]
total_subjects=list(zip(subjects,subject_count))

In [31]:
total_subjects

[('math', 'one'), ('science', 'two'), ('english', 'three')]

In [32]:
# Exception handling

def test_float(number):
    try:
        return float(number)
    except ValueError:
        return "Not a number"

In [33]:
test_float(3)

3.0

In [35]:
test_float("sai")

'Not a number'