In [1]:
import pandas as pd

**1. Load the data file.**

In [2]:

df=pd.read_csv("hour.csv")

In [3]:
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
df.shape

(17379, 17)

In [5]:
df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [6]:
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

2. Check for null values in the data and drop records with NAs.

In [7]:
df_missing=df.isna()

In [8]:
for c in df_missing.columns.values.tolist():
    print (c)
    print(df_missing[c].value_counts())

instant
False    17379
Name: instant, dtype: int64
dteday
False    17379
Name: dteday, dtype: int64
season
False    17379
Name: season, dtype: int64
yr
False    17379
Name: yr, dtype: int64
mnth
False    17379
Name: mnth, dtype: int64
hr
False    17379
Name: hr, dtype: int64
holiday
False    17379
Name: holiday, dtype: int64
weekday
False    17379
Name: weekday, dtype: int64
workingday
False    17379
Name: workingday, dtype: int64
weathersit
False    17379
Name: weathersit, dtype: int64
temp
False    17379
Name: temp, dtype: int64
atemp
False    17379
Name: atemp, dtype: int64
hum
False    17379
Name: hum, dtype: int64
windspeed
False    17379
Name: windspeed, dtype: int64
casual
False    17379
Name: casual, dtype: int64
registered
False    17379
Name: registered, dtype: int64
cnt
False    17379
Name: cnt, dtype: int64

**There doesn't seem to be any NA values to drop**

In [9]:
df.shape

(17379, 17)

In [10]:
df.dropna(inplace=True)
df.shape # Shape is the same

(17379, 17)