<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [4]:
#Import the necessary library
import numpy as np
import pandas as pd

In [45]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
olympic_data=pd.read_excel("C:\\Users\\skv08\\repoStuff\\pythonStuff\\simplilearn\\DS_with_Python\\L5_NumPy\\Projects\\Olympic 2012 Medal Tally.xlsx",sheet_name="Sheet1",skiprows=1,usecols='B:G')

olympic_data.head()

         Country Country Code    Year Medal Tally Unnamed: 5 Unnamed: 6
0            NaN          NaN     NaN        Gold     Silver     Bronze
1  Great Britain          GBR  2012.0          29         17         19
2         China           CHN  2012.0          38         28         22
3         Russia          RUS  2012.0          24         25         32
4  United States           US  2012.0          46         28         29

In [54]:
arr=olympic_data.to_numpy()
arr

array([[nan, nan, nan, 'Gold', 'Silver', 'Bronze'],
       ['Great Britain', 'GBR', 2012.0, 29, 17, 19],
       ['China ', 'CHN', 2012.0, 38, 28, 22],
       ['Russia', 'RUS', 2012.0, 24, 25, 32],
       ['United States', 'US', 2012.0, 46, 28, 29],
       ['Korea', 'KOR', 2012.0, 13, 8, 7],
       ['Japan', 'JPN', 2012.0, 7, 14, 17],
       ['Germany', 'GER', 2012.0, 11, 11, 14]], dtype=object)

In [55]:
arr=np.transpose(arr)
arr

array([[nan, 'Great Britain', 'China ', 'Russia', 'United States',
        'Korea', 'Japan', 'Germany'],
       [nan, 'GBR', 'CHN', 'RUS', 'US', 'KOR', 'JPN', 'GER'],
       [nan, 2012.0, 2012.0, 2012.0, 2012.0, 2012.0, 2012.0, 2012.0],
       ['Gold', 29, 38, 24, 46, 13, 7, 11],
       ['Silver', 17, 28, 25, 28, 8, 14, 11],
       ['Bronze', 19, 22, 32, 29, 7, 17, 14]], dtype=object)

In [58]:
country_names=arr[0][1:]
country_codes=arr[1][1:]
year=arr[2][1:]
gold=arr[3][1:]
silver=arr[4][1:]
bronze=arr[5][1:]

#### Find the country with maximum gold medals

In [62]:
#Use the argmax() method to find the highest number of gold medals
gold.max()

46

In [60]:
#Print the name of the country
country_names[np.argmax(gold)]

'United States'

#### Find the countries with more than 20 gold medals

In [70]:
#Use Boolean indexing technique to find the required output
country_names[gold>20]

array(['Great Britain', 'China ', 'Russia', 'United States'], dtype=object)

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [71]:
#Use a for loop to create the required output
for i in range(len(country_names)):
    print("{} has {} medals, of which {} of them are gold".format(country_names[i],gold[i]+silver[i]+bronze[i],gold[i]))

Great Britain has 65 medals, of which 29 of them are gold
China  has 88 medals, of which 38 of them are gold
Russia has 81 medals, of which 24 of them are gold
United States has 103 medals, of which 46 of them are gold
Korea has 28 medals, of which 13 of them are gold
Japan has 38 medals, of which 7 of them are gold
Germany has 36 medals, of which 11 of them are gold