# Final Project: Customer Service Request Analysis

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

## 1. Import a 311 NYC service request.

In [2]:
df=pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

C:\Users\skv08\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01-01-16 0:55,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01-01-16 1:26,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01-01-16 4:51,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01-01-16 7:43,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01-01-16 3:24,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300698 entries, 0 to 300697
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      300698 non-null  int64
 1   Created Date                    300698 non-null  object
 2   Closed Date                     298534 non-null  object
 3   Agency                          300698 non-null  object
 4   Agency Name                     300698 non-null  object
 5   Complaint Type                  300698 non-null  object
 6   Descriptor                      294784 non-null  object
 7   Location Type                   300567 non-null  object
 8   Incident Zip                    298083 non-null  float64
 9   Incident Address                256288 non-null  object
 10  Street Name                     256288 non-null  object
 11  Cross Street 1                  251419 non-null  object
 12  Cross Street 2                  250919 non-null  object
 13  Intersection Street 1           43858 non-null   object
 14  Intersection Street 2           43362 non-null   object
 15  Address Type                    297883 non-null  object
 16  City                            298084 non-null  object
 17  Landmark                        349 non-null     object
 18  Facility Type                   298527 non-null  object
 19  Status                          300698 non-null  object
 20  Due Date                        300695 non-null  object
 21  Resolution Description          300698 non-null  object
 22  Resolution Action Updated Date  298511 non-null  object
 23  Community Board                 300698 non-null  object
 24  Borough                         300698 non-null  object
 25  X Coordinate (State Plane)      297158 non-null  float64
 26  Y Coordinate (State Plane)      297158 non-null  float64
 27  Park Facility Name              300698 non-null  object
 28  Park Borough                    300698 non-null  object
 29  School Name                     300698 non-null  object
 30  School Number                   300698 non-null  object
 31  School Region                   300697 non-null  object
 32  School Code                     300697 non-null  object
 33  School Phone Number             300698 non-null  object
 34  School Address                  300698 non-null  object
 35  School City                     300698 non-null  object
 36  School State                    300698 non-null  object
 37  School Zip                      300697 non-null  object
 38  School Not Found                300698 non-null  object
 39  School or Citywide Complaint    0 non-null       float64
 40  Vehicle Type                    0 non-null       float64
 41  Taxi Company Borough            0 non-null       float64
 42  Taxi Pick Up Location           0 non-null       float64
 43  Bridge Highway Name             243 non-null     object
 44  Bridge Highway Direction        243 non-null     object
 45  Road Ramp                       213 non-null     object
 46  Bridge Highway Segment          213 non-null     object
 47  Garage Lot Name                 0 non-null       float64
 48  Ferry Direction                 1 non-null       object
 49  Ferry Terminal Name             2 non-null       object
 50  Latitude                        297158 non-null  float64
 51  Longitude                       297158 non-null  float64
 52  Location                        297158 non-null  object
dtypes: float64(10), int64(1), object(42)
memory usage: 121.6+ MB

Checking for nulls

In [5]:
df.shape

(300698, 53)

In [6]:
df_missing=df.isna()
df_missing.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False

In [7]:
for col in df_missing.columns.values.tolist():
    print(col)
    print(df_missing[col].value_counts())
    print("")

Unique Key
False    300698
Name: Unique Key, dtype: int64

Created Date
False    300698
Name: Created Date, dtype: int64

Closed Date
False    298534
True       2164
Name: Closed Date, dtype: int64

Agency
False    300698
Name: Agency, dtype: int64

Agency Name
False    300698
Name: Agency Name, dtype: int64

Complaint Type
False    300698
Name: Complaint Type, dtype: int64

Descriptor
False    294784
True       5914
Name: Descriptor, dtype: int64

Location Type
False    300567
True        131
Name: Location Type, dtype: int64

Incident Zip
False    298083
True       2615
Name: Incident Zip, dtype: int64

Incident Address
False    256288
True      44410
Name: Incident Address, dtype: int64

Street Name
False    256288
True      44410
Name: Street Name, dtype: int64

Cross Street 1
False    251419
True      49279
Name: Cross Street 1, dtype: int64

Cross Street 2
False    250919
True      49779
Name: Cross Street 2, dtype: int64

Intersection Street 1
True     256840
False     43858
Name: Intersection Street 1, dtype: int64

Intersection Street 2
True     257336
False     43362
Name: Intersection Street 2, dtype: int64

Address Type
False    297883
True       2815
Name: Address Type, dtype: int64

City
False    298084
True       2614
Name: City, dtype: int64

Landmark
True     300349
False       349
Name: Landmark, dtype: int64

Facility Type
False    298527
True       2171
Name: Facility Type, dtype: int64

Status
False    300698
Name: Status, dtype: int64

Due Date
False    300695
True          3
Name: Due Date, dtype: int64

Resolution Description
False    300698
Name: Resolution Description, dtype: int64

Resolution Action Updated Date
False    298511
True       2187
Name: Resolution Action Updated Date, dtype: int64

Community Board
False    300698
Name: Community Board, dtype: int64

Borough
False    300698
Name: Borough, dtype: int64

X Coordinate (State Plane)
False    297158
True       3540
Name: X Coordinate (State Plane), dtype: int64

Y Coordinate (State Plane)
False    297158
True       3540
Name: Y Coordinate (State Plane), dtype: int64

Park Facility Name
False    300698
Name: Park Facility Name, dtype: int64

Park Borough
False    300698
Name: Park Borough, dtype: int64

School Name
False    300698
Name: School Name, dtype: int64

School Number
False    300698
Name: School Number, dtype: int64

School Region
False    300697
True          1
Name: School Region, dtype: int64

School Code
False    300697
True          1
Name: School Code, dtype: int64

School Phone Number
False    300698
Name: School Phone Number, dtype: int64

School Address
False    300698
Name: School Address, dtype: int64

School City
False    300698
Name: School City, dtype: int64

School State
False    300698
Name: School State, dtype: int64

School Zip
False    300697
True          1
Name: School Zip, dtype: int64

School Not Found
False    300698
Name: School Not Found, dtype: int64

School or Citywide Complaint
True    300698
Name: School or Citywide Complaint, dtype: int64

Vehicle Type
True    300698
Name: Vehicle Type, dtype: int64

Taxi Company Borough
True    300698
Name: Taxi Company Borough, dtype: int64

Taxi Pick Up Location
True    300698
Name: Taxi Pick Up Location, dtype: int64

Bridge Highway Name
True     300455
False       243
Name: Bridge Highway Name, dtype: int64

Bridge Highway Direction
True     300455
False       243
Name: Bridge Highway Direction, dtype: int64

Road Ramp
True     300485
False       213
Name: Road Ramp, dtype: int64

Bridge Highway Segment
True     300485
False       213
Name: Bridge Highway Segment, dtype: int64

Garage Lot Name
True    300698
Name: Garage Lot Name, dtype: int64

Ferry Direction
True     300697
False         1
Name: Ferry Direction, dtype: int64

Ferry Terminal Name
True     300696
False         2
Name: Ferry Terminal Name, dtype: int64

Latitude
False    297158
True       3540
Name: Latitude, dtype: int64

Longitude
False    297158
True       3540
Name: Longitude, dtype: int64

Location
False    297158
True       3540
Name: Location, dtype: int64

In [8]:
df.dropna(subset=["Closed Date"],inplace=True)
df.shape

(298534, 53)

## 2.1 Read or convert the columns ‘Created Date’ and Closed Date’ to datetime datatype

In [9]:
def date_time_conversion(string): # function to convert various string formats to datetime
    try:
        return datetime.strptime(str(string),"%m/%d/%Y %H:%M:%S %p")


    except (ValueError,TypeError) as e:
        try:
            return datetime.strptime(string,"%m/%d/%y %H:%M")
        except (ValueError,TypeError) as e:
            return datetime.strptime(str(string),"%m-%d-%y %H:%M")

In [10]:
# Reformatting 'Date Created' Column and "Closed Date"
df["Created Date"]=df["Created Date"].apply(date_time_conversion)

In [11]:
df["Closed Date"]=df["Closed Date"].apply(date_time_conversion)

## 2.2 Create a new column ‘Request_Closing_Time

In [12]:
 df['Request_Closing_Time']=df["Closed Date"]-df["Created Date"]

### Data Preprocessing:

 taking relevant columns from df that are not primarily filled with NAs  
relevant cols:  
Location Type, complaint type, descriptor, requestclosingtime,address type,City,Landmark,Status,Due date, created date, 
closed date,Resolution Action Updated Date, Borough,Park Borough,

In [13]:
df2=df[["Created Date","Closed Date","Complaint Type","Descriptor","Location Type","Request_Closing_Time","Address Type","City","Status","Due Date","Resolution Action Updated Date","Borough","Park Borough"]]

#### Handling NAs

In [14]:
df2_missing=df2.isna()

for col in df2_missing.columns.values.tolist():
    print(col)
    print(df2_missing[col].value_counts())
    print("")

Created Date
False    298534
Name: Created Date, dtype: int64

Closed Date
False    298534
Name: Closed Date, dtype: int64

Complaint Type
False    298534
Name: Complaint Type, dtype: int64

Descriptor
False    292625
True       5909
Name: Descriptor, dtype: int64

Location Type
False    298406
True        128
Name: Location Type, dtype: int64

Request_Closing_Time
False    298534
Name: Request_Closing_Time, dtype: int64

Address Type
False    297827
True        707
Name: Address Type, dtype: int64

City
False    298028
True        506
Name: City, dtype: int64

Status
False    298534
Name: Status, dtype: int64

Due Date
False    298533
True          1
Name: Due Date, dtype: int64

Resolution Action Updated Date
False    298495
True         39
Name: Resolution Action Updated Date, dtype: int64

Borough
False    298534
Name: Borough, dtype: int64

Park Borough
False    298534
Name: Park Borough, dtype: int64

In [15]:
df2.shape

(298534, 13)

Analyzing NAs in Descriptor Column

In [16]:
condition=df2_missing["Descriptor"]==True

In [22]:
df2["Complaint Type"][condition].value_counts() # complaint types where descriptor is NA

Homeless Encampment          4416
Urinating in Public           592
Bike/Roller/Skate Chronic     424
Panhandling                   305
Illegal Fireworks             168
Squeegee                        4
Name: Complaint Type, dtype: int64

In [25]:
df2["Descriptor"].value_counts() # Checking types of descriptors for possible matches

Loud Music/Party                  60829
No Access                         56822
Posted Parking Sign Violation     22274
Loud Talking                      21377
Partial Access                    19988
With License Plate                17588
Blocked Hydrant                   15898
Commercial Overnight Parking      11962
Car/Truck Music                   11227
Blocked Sidewalk                  10997
Double Parked Blocking Traffic     5636
Double Parked Blocking Vehicle     4208
Engine Idling                      4178
Banging/Pounding                   4110
Neglected                          3782
Car/Truck Horn                     3493
Congestion/Gridlock                2760
In Prohibited Area                 2024
Other (complaint details)          1967
Unlicensed                         1771
Overnight Commercial Storage       1756
Unauthorized Bus Layover           1340
Truck Route Violation              1013
In Public                           928
Tortured                            851
Vehicle                             588
Chained                             535
Detached Trailer                    461
No Shelter                          382
Chronic Stoplight Violation         280
Underage - Licensed Est             270
Chronic Speeding                    268
In Car                              251
Playing in Unsuitable Place         245
Drag Racing                         175
Loud Television                      93
Police Report Requested              90
After Hours - Licensed Est           77
Building                             60
Nuisance/Truant                      41
Police Report Not Requested          23
Language Access Complaint             6
Animal Waste                          1
Name: Descriptor, dtype: int64

In [1]:
# adding squeegee to Building, Bike/Roller/Skate Chronic ->Playing in Unsuitable Place ,
#Panhandling,Homeless Encampment -> No Shelter,Urinating in Public -> In Public, Illegal Fireworks ->Illegal Fireworks

In [2]:

# def descriptor_category(complaint):
#     if complaint=="Homeless Encampment":
#         return "Homeless Encampment"
    
#     elif complaint=="Bike/Roller/Skate Chronic":
#         return "Playing in Unsuitable Place"
    
#     elif complaint=="Urinating in Public":
#         return "In Public"
    
#     elif complaint==

In [ ]:
#cond=df2["Complaint Type"]=="Homeless Encampment"

In [ ]:
#df2["Complaint Type"][cond].loc[(df2["Descriptor"].isna())].shape

In [ ]:
#df2["Complaint Type"][cond].loc[(df2["Descriptor"].isna())]="Homeless Encampment"

In [ ]:
#df2["Complaint Type"][cond].loc[(df2["Descriptor"].isna())].shape